:root {
  --blue100: #3F92E0;
  --blue200: #3e3be0;
  --blue300:rgb(59, 117, 224);
  --gray700: #d7d7d7;
  --black200: #212121;
  --black300: #292929;

  --input-color: #000;
  --input-outline: #307ef3;
  --input-label-color: var(--input-color);
  --input-label-disabled: #7f7f7f;
  --input-label-background: #fff;
}